In [10]:
import json
import os
import pandas as pd
from PyPDF2 import PdfFileReader

pd.set_option('max_colwidth', 100)
from pandas.io.json import json_normalize
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
path = 'F://Environmental Baseline Data//Version 2//Data//text_ESA.json'

In [11]:
#read json file that contains all text
df = pd.read_json('F:/Environmental Baseline Data/Version 2/Data/text_ESA.json', lines=True)
df = df.transpose().reset_index()
df.columns = ['file_name', 'text']
df.head()

,file_name,text
0,A0H8C0 %2D 13.0 EIA %2D Section 13.1 to 13.6 .txt,Microsoft Word - CP1045 MASTER DOCUMENT-MARCH 10 ak.doc ENVIRONMENTAL IMPACT ASSESSMENTAND MITIG...
1,A0H8C1 %2D 13.0 EIA %2D Section 13.7 Wildlife Part 1.txt,Microsoft Word - CP1045 MASTER DOCUMENT-MARCH 10 ak.doc ENVIRONMENTAL IMPACT ASSESSMENTAND MITIG...
2,A0H8C2 %2D 13.0 EIA %2D Section 13.7 Wildlife Part 2 .txt,Microsoft Word - CP1045 MASTER DOCUMENT-MARCH 10 ak.doc ENVIRONMENTAL IMPACT ASSESSMENTAND MITIG...
3,A0H8C3 %2D 13.0 EIA %2D Section 13.8 to 13.13.txt,Microsoft Word - CP1045 MASTER DOCUMENT-MARCH 10 ak.doc ENVIRONMENTAL IMPACT ASSESSMENTAND MITIG...
4,A63951%2D1 V3 %2D ESA_Sec_1%2D11 %2D A4D9H6.txt,Environmental and Socio-economic AssessmentOctober 2014EASTERN MAINLINE PROJECTEnvironmental and...

In [15]:
df['text_lower'] = df.text.str.lower() #convert string to lowercase
df['legend_count'] = df['text_lower'].str.count('legend') #count instance of string 'legend'
df.head()

,file_name,text,text_lower,legend_count
0,A0H8C0 %2D 13.0 EIA %2D Section 13.1 to 13.6 .txt,Microsoft Word - CP1045 MASTER DOCUMENT-MARCH 10 ak.doc ENVIRONMENTAL IMPACT ASSESSMENTAND MITIG...,microsoft word - cp1045 master document-march 10 ak.doc environmental impact assessmentand mitig...,1
1,A0H8C1 %2D 13.0 EIA %2D Section 13.7 Wildlife Part 1.txt,Microsoft Word - CP1045 MASTER DOCUMENT-MARCH 10 ak.doc ENVIRONMENTAL IMPACT ASSESSMENTAND MITIG...,microsoft word - cp1045 master document-march 10 ak.doc environmental impact assessmentand mitig...,0
2,A0H8C2 %2D 13.0 EIA %2D Section 13.7 Wildlife Part 2 .txt,Microsoft Word - CP1045 MASTER DOCUMENT-MARCH 10 ak.doc ENVIRONMENTAL IMPACT ASSESSMENTAND MITIG...,microsoft word - cp1045 master document-march 10 ak.doc environmental impact assessmentand mitig...,0
3,A0H8C3 %2D 13.0 EIA %2D Section 13.8 to 13.13.txt,Microsoft Word - CP1045 MASTER DOCUMENT-MARCH 10 ak.doc ENVIRONMENTAL IMPACT ASSESSMENTAND MITIG...,microsoft word - cp1045 master document-march 10 ak.doc environmental impact assessmentand mitig...,1
4,A63951%2D1 V3 %2D ESA_Sec_1%2D11 %2D A4D9H6.txt,Environmental and Socio-economic AssessmentOctober 2014EASTERN MAINLINE PROJECTEnvironmental and...,environmental and socio-economic assessmentoctober 2014eastern mainline projectenvironmental and...,10

In [92]:
# df with instance of 'legend' in text

df_legends = df[df['legend_count'] != 0] #occurance of 'legend' greater than one
df_legends.shape

postal_series = df_legends['file_name'].str.extract('([a-zA-Z]\d[a-zA-Z]\d[a-zA-Z]\d)')
df_legends.insert(1, 'Filing ID', postal_series)

df_legends = df_legends.drop(['file_name', 'text', 'text_lower'], axis = 1)

(319, 4)

In [93]:
#open Index 2 for page count
index_2 = pd.read_csv('F:/Environmental Baseline Data/Version 3/Indices/Final/Index 2 - List of PDFs for Major Projects with ESAs.csv',
                     usecols = ['Filing ID', 'Page Count'])

df_legends = df_legends.merge(index_2, on = 'Filing ID')
df_legends['pct pages legend'] = df_legends['legend_count'] / df_legends['Page Count'] * 100
df_legends = df_legends.sort_values(by = 'pct pages legend', ascending = False)
df_legends = df_legends[df_legends['pct pages legend'] > 20]
df_legends.shape
df_legends.head()

(168, 4)

    Filing ID  legend_count  Page Count  pct pages legend
202    A0Z1A5            24           6        400.000000
204    A0Z1A7            24           6        400.000000
201    A0Z1A4            24           6        400.000000
205    A0Z1A8            23           6        383.333333
185    A0Z1C2            23           6        383.333333

In [84]:
df_legends.shape

(141, 4)

In [94]:
df_legends.tail(100)

    Filing ID  legend_count  Page Count  pct pages legend
295    A4E6X6             5           5        100.000000
12     A4D9J4            15          15        100.000000
11     A4D9J3            36          36        100.000000
10     A4D9J2            15          15        100.000000
9      A4D9J1             6           6        100.000000
8      A4D9J0            26          26        100.000000
7      A4D9I9            15          15        100.000000
6      A4D9I8            15          15        100.000000
5      A4D9I7            15          15        100.000000
4      A4D9I6            15          15        100.000000
3      A4D9I5            15          15        100.000000
296    A4E6X7            28          28        100.000000
269    A3E2Y9            10          10        100.000000
311    A4E6Z2            32          32        100.000000
42     A4T0Z7             6           6        100.000000
255    A3V4Q5             1           1        100.000000
266    A3E2Y7             9           9        100.000000
265    A3E2Y6             9           9        100.000000
254    A3V4Q4             1           1        100.000000
259    A3V4Q9             1           1        100.000000
258    A3V4Q8             1           1        100.000000
257    A3V4Q7             1           1        100.000000
44     A4T0Z9             3           3        100.000000
43     A4T0Z8             5           5        100.000000
267    A3E2Y8            10          10        100.000000
41     A4T0Z6             7           7        100.000000
256    A3V4Q6             1           1        100.000000
40     A4T0Z5             5           5        100.000000
83     A5A8G7            30          31         96.774194
101    A5A8S2            20          21         95.238095
..        ...           ...         ...               ...
171    A1D5R5             6          13         46.153846
45     A4T1A0            12          28         42.857143
25     A4D9K6            18          42         42.857143
176    A1J6I9            11          29         37.931034
284    A1X1V3            10          27         37.037037
216    A1I9X0             5          14         35.714286
94     A5A8Q2            25          71         35.211268
244    A3V4L8             1           3         33.333333
104    A5A8R3            21          63         33.333333
98     A5A8R1            22          66         33.333333
262    A1X1V4             9          28         32.142857
219    A0Y1U4             5          16         31.250000
108    A5A8R7            20          72         27.777778
263    A3E2Y5             8          29         27.586207
169    A0Z4I4            15          57         26.315789
192    A0Z0Z2             8          31         25.806452
268    A1X1V8             5          20         25.000000
194    A0Z0Z4             4          16         25.000000
222    A0Y1U6             4          16         25.000000
220    A0Y1U5             4          16         25.000000
264    A1X1V5             8          33         24.242424
217    A0Y1U2             4          17         23.529412
218    A0Y1U3             4          17         23.529412
251    A2A6R0             8          34         23.529412
39     A4T0Z4             5          22         22.727273
294    A4E6X5            17          78         21.794872
188    A0Z0Y9             5          23         21.739130
177    A1D5S0             9          43         20.930233
199    A0Z1A2            15          74         20.270270
118    A5A8X8            19          94         20.212766

[100 rows x 4 columns]